<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="${applicationId}">

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false"
        android:version="1" />

    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />

    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />

    <application>
        <activity
            android:name="com.immersivefoundation.imm.ImmUnityPlayerActivity"
            android:exported="true"
            tools:node="merge">
            <intent-filter tools:node="merge">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>

            <meta-data
                android:name="com.oculus.supportedDevices"
                android:value="quest|quest2|cambria|eureka|quest3s"
                tools:replace="android:value" />

            <meta-data
                android:name="com.oculus.handtracking.version"
                android:value="V2.0" />

            <meta-data
                android:name="com.oculus.handtracking.frequency"
                android:value="HIGH" />
        </activity>
    </application>

</manifest>
